<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DVUrl" value="http://192.168.50.20:5000/api/v1" />
		<add key="Username" value="DVAdmin@engineer.school" />
		<add key="Password" value="P@ssw0rd" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DocsVision.Platform.ObjectManager" publicKeyToken="7148afe997f90519" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.478.0" newVersion="6.1.478.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocsVision.Platform" publicKeyToken="7148afe997f90519" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.478.0" newVersion="6.1.478.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocsVision.Platform.ObjectModel" publicKeyToken="7148afe997f90519" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.478.0" newVersion="6.1.478.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>